<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Login to the store!</h1>
    <form action="/login" method="post">
      {% csrf_token %}
      <div>
        <label for="user_name">Name</label>
        <input type="text" name="user_name" />
      </div>
      <div>
        <label for="user_pic">Profile url</label>
        <input type="text" name="user_pic" />
      </div>
      <button type="submit">Login</button>
    </form>
  </body>
</html>
