<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to the dashboard {{ request.session.user_name }}!</h1>
    <h2>My favorite drink is {{ request.session.fav_drink }}</h2>
    <a href="/logout">Logout</a>

    <form action="/add_drink" method="post">
      {% csrf_token %}
      <p>Add a drink<input type="text" name="new_drink" /></p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
