<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1>Happy Friday!</h1>
    <form action="/login" method="post">
      {% csrf_token %}
      <p>User: <input name="user_namez" type="text" /></p>
      <p>Favorite Drink: <input name="fav_drink" type="text" /></p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
